.order-btn{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 0;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    background-color: inherit;
    color: #fff;
    border: 1px solid #a9455f; 
    border-radius: 24px;
    transition: 0.1s;
}
.order-btn:hover{
    background-color: #a9455f;
}
.order-list{
    padding: 10px;
}
.order .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 8px 4px;
    border: 1px solid #a9455f;
}
.order .admin-button{
    display: block;
    width: 100%;
    border: 1px solid #a9455f;
}
.order .admin-button:hover{
    background-color: #a9455f;
}