.order-btn{
    display: block;
    margin-bottom: 40px;
    padding: 8px 0;
    text-align: center;
    border: 1px solid #a9455f; 
    border-radius: 24px;
    transition: 0.1s;
}
.order-btn:hover{
    background-color: #a9455f;
}
.order-list{
    padding: 10px;
}
.order .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border: 1px solid #a9455f;
}